@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$main_backgroud: #1e2140;
$modal_background: #ffffff;
$input_background: #eef1f8;
$btn-grp-background: #151932;
$main1: #f87070;
$main2: #72f1f7;
$main3: #d981f9;
$dark_font_color: #1a1e36;
$medium_font_color: #6d718a;
$light_font_color: #d8e0fe;
$font1: "Roboto", sans-serif;
$font2: "Ubuntu", sans-serif;
$font3: "Poppins", sans-serif;
